<div class="wrapper">
    <div class="row login">
        <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="login" type="text" ng-model="user.login" class="validate">
                <label for="login">Login</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                  <input id="senha" type="password" ng-model="user.senha" class="validate">
                  <label for="senha">Senha</label>
                </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                  <button class="btn waves-effect waves-light right" ng-click="login(user)" type="button">
                      <i class="material-icons right">vpn_key</i>
                  </button>
              </div>
            </div>
        </form>
      </div>
</div>